---
---

@import "{{ site.theme }}";

.custom-banner {
    color: #fff;
    text-align: center;
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957)
}

@media screen and (min-width: 64em) {
    .custom-banner {
        padding:5rem 6rem
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .custom-banner {
        padding:3rem 4rem
    }
}

@media screen and (max-width: 42em) {
    .custom-banner {
        padding:2rem 1rem
    }
}



