---
---

@import "{{ site.theme }}";

/* Banner wrapper styles */
.custom-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #004080; /* Dark blue */
  color: white;
  padding: 12px 20px;
  flex-wrap: wrap; /* Allows items to wrap on smaller screens */
  border-bottom: 2px solid #003366;}

