---
---

@import "{{ site.theme }}";

/* Banner wrapper styles */
.custom-banner {
  display: flex;
  background-color: #004080 !important; /* Dark blue or any color you like */
  flex-wrap: wrap; /* Allows items to wrap on smaller screens */
  border-bottom: 2px solid #003366;
  border: 2px solid red;
}

